html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol{
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

:root {
  --font: "VT323", monospace;
  --tic-color: #0000FF;
  --tac-color:#00ff00e0;
  --toe-color: #ff0000;
  --background-color: #000000;
  --title-size: 1.5em;
}

/*HEADER SECTION*/
header {
  text-align: center;
  font-family: var(--font);
  font-size: var(--title-size);
  padding: 14px;
}

.word1 {
  color: var(--tic-color);
}
.word2 {
  color: var(--tac-color);
}
.word3 {
  color: var(--toe-color);
}

.btn {
  text-align: center;
  margin: 1em  0em;
}

button {
  border: none;
  color: white;
  background-color: green;
  padding: 10px 10px;
  border-radius: 8px;
  font-family: var(--font);
  font-size: 1.5em;
  cursor: pointer;
}

/*GAME BOARD*/

.gameboard {
  width: 400px;
  display: grid;
  aspect-ratio: 1;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

.cell {
  border: 2px solid var(--tac-color);
  text-align: center;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 100px;
  font-family: var(--font);
  box-shadow: 0px 0 8px 0px var(--tac-color);
  user-select: none;
  height: 145px;
}


.hover-effect-blue:hover {
  background-color: #0000ff48;
}

.hover-effect-red:hover {
  background-color: #ff000038;
}

/*INPUT PLAYERS NAME*/

#players-name {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}


.modal {
  background-color: rgba(0, 0, 0, 0.8);
}

.form-group {
  font-size: 2.5em;
}

label{
  display: flex;
}

label#p1-label {
  color: var(--toe-color);
}

label#p2-label {
  color: var(--tic-color);
}

.input-control {
  font-family: var(--font);
  padding: 0.2rem;
  display: flex;
  height: 40px;
  font-size: 0.6em;
  border-radius: 5px;
  border: none;
}

.modal-btn{
  display: flex;
  gap: 1.5rem;
}

.cancel-btn {
  background-color: rgba(255, 0, 0, 0.5);
}



